@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Poppins;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --bg-nav: rgb(15, 10, 0);
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}